<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  {% load static %}

  <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet"  type="text/css" href="{% static 'css/style.css' %}" >
<link href="{% static 'css/all.min.css' %}" rel="stylesheet" type="text/css">
  <script src="{% static 'js/all.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/join.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
<script type="text/javascript" src="{% static 'js/basket.js' %}"></script>
</head>
<body class="body">
<div class="head_row" style="height:150px">
  <img src="{% static 'img/logo1.png' %}" class="logo_img">
  <input type="text" class="searchbar input-lg" size="50" autocomplete="off">
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'index' %}">Home</a></li>
      <li><a href="../shop/?tb=임신/출산">국내 도서</a></li>
       {% if request.session.id %}
      <li><a href="../basket/">마이페이지</a></li>
      {% endif %}
      <li><a href="../join/">회원가입</a></li>
      {% if request.session.id %}
      <li><a href="../userLogout/">로그아웃</a></li>
      {% else %}
      <li><a href="../login_ok/">로그인</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
  {% block page %}
<div class="main_row">
  <ul class="side_menu">
    <li no="1"><em>가정 살림</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>임신/출산</em></li>
            <li><em>육아</em></li>
            <li><em>자녀교육</em></li>
            <li><em>집/살림</em></li>
            <li><em>결혼/가족</em></li>
          </ul>
        </div>
    </li>
    <li no="2"><em>건강 취미</em>
        <div class="side_detail_menu">
          <ul>
            <li><em>건강에세이/건강기타</em></li>
            <li><em>질병과 치료법</em></li>
            <li><em>요가/체조/기타</em></li>
            <li><em>한의학/한방치료</em></li>
            <li><em>의학/약학</em></li>
            <li><em>여행</em></li>
            <li><em>취미기타</em></li>
            <li><em>패션/수공예</em></li>
            <li><em>다이어트/미용</em></li>
            <li><em>스포츠/오락기타</em></li>
            <li><em>등산/낚시/바둑</em></li>
            <li><em>반려동물</em></li>
            <li><em>컬러링북</em></li>
            <li><em>퍼즐/스도쿠/기타</em></li>
          </ul>
        </div>
    </li>
    <li no="3"><em>국어 외국어 사전</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>국어</em></li>
            <li><em>독일어</em></li>
            <li><em>러시아어</em></li>
            <li><em>스페인어</em></li>
            <li><em>이탈리아어</em></li>
            <li><em>프랑스어</em></li>
            <li><em>여행회화/어학연수</em></li>
            <li><em>기타 언어</em></li>
            <li><em>한자/옥편</em></li>
          </ul>
        </div>
    </li>
    <li no="4"><em>대학교재</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>경상계열</em></li>
            <li><em>공학계열</em></li>
            <li><em>농축산학 계열</em></li>
            <li><em>법학계열</em></li>
            <li><em>사범대 계열</em></li>
            <li><em>사회과학 계열</em></li>
            <li><em>어문학 계열</em></li>
            <li><em>예체능/문화/기타 계열</em></li>
            <li><em>의약학/간호 계열</em></li>
            <li><em>인문학 계열</em></li>
            <li><em>자연과학 계열</em></li>
            <li><em>방송통신대학교</em></li>
          </ul>
        </div>
    </li>
    <li no="5"><em>경제 경영</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>경제</em></li>
            <li><em>경영</em></li>
            <li><em>투자/재테크</em></li>
            <li><em>마케팅/세일즈</em></li>
            <li><em>CEO/비즈니스맨</em></li>
            <li><em>인터넷비즈니스</em></li>
            <li><em>총람/연감</em></li>
            <li><em>정부간행물</em></li>
          </ul>
        </div>
    </li>
    <li no="6"><em>만화/라이트노벨</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>웹툰 </em></li>
            <li><em>액션</em></li>
            <li><em>로맨스 </em></li>
            <li><em>스포츠</em></li>
            <li><em>판타지</em></li>
            <li><em>코믹 </em></li>
            <li><em>드라마</em></li>
            <li><em>학원</em></li>
            <li><em>SF/밀리터리</em></li>
            <li><em>공포/추리</em></li>
            <li><em>역사/시대물 </em></li>
            <li><em>취미와 직업</em></li>
            <li><em>유럽 만화 </em></li>
            <li><em>동물만화 </em></li>
            <li><em>인디만화 </em></li>
            <li><em>화보집/캐릭터 상품 </em></li>
            <li><em>교양만화/비평/작법</em></li>
          </ul>
        </div>
    </li>
    <li no="7"><em>사회 정치</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>사회비평/비판</em></li>
            <li><em>사회단체/NGO</em></li>
            <li><em>정치/외교</em></li>
            <li><em>사회학</em></li>
            <li><em>여성/젠더</em></li>
            <li><em>교육</em></li>
            <li><em>언론학/미디어론</em></li>
            <li><em>생태/환경</em></li>
            <li><em>행정</em></li>
            <li><em>미래예측</em></li>
            <li><em>법</em></li>
            <li><em>국방/군사</em></li>
          </ul>
        </div>
    </li>
    <li no="8"><em>소설/시/희곡</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>장르소설</em></li>
            <li><em>테마소설</em></li>
            <li><em>고전문학</em></li>
            <li><em>시/희곡</em></li>
            <li><em>비평/창작/이론</em></li>
            <li><em>한국소설</em></li>
            <li><em>영미소설</em></li>
            <li><em>일본소설</em></li>
            <li><em>중국소설</em></li>
            <li><em>프랑스소설</em></li>
            <li><em>독일소설</em></li>
            <li><em>러시아소설</em></li>
            <li><em>스페인/중남미소설</em></li>
            <li><em>북유럽소설</em></li>
            <li><em>세계각국소설</em></li>
          </ul>
        </div>
    </li>
    <li no="9"><em>수험서 자격증</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>한국사능력검정시험</em></li>
            <li><em>고등고시/전문직</em></li>
            <li><em>교원임용시험</em></li>
            <li><em>법/인문/사회</em></li>
            <li><em>보건/위생/의학</em></li>
            <li><em>PSAT(외시/행시/7급)</em></li>
            <li><em>기타/신규 자격증</em></li>
          </ul>
        </div>
    </li>
    <li no="10"><em>어린이</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>초등 1-2학년</em></li>
            <li><em>초등 3-4학년</em></li>
          </ul>
        </div>
    </li>
    <li no="11"><em>IT 모바일</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>인터넷 비즈니스</em></li>
          </ul>
        </div>
    </li>
  </ul>
{% block content %}
  {% endblock %}
  </div>
<div class="chat_row">
  <div class="phone">
    <div class="bot_button">
      <ul>
        <li><button class="qBtn">1 대 1 상담</button></li>
      </ul>
    </div>
    <input type="text" class="phone_input" id="first" placeholder="처음부터 다시하시려면 아래버튼을 눌러주세요" count="0">
  </div>
  <span style="float:right;">
     <button class="chat_clear"><i class="fas fa-trash fa-2x" style="color:white"></i></button>
    <button class="chat_btn" value="0"><i class="far fa-comment-dots fa-2x" style="color:white"></i></button>
  </span>
</div>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

<script type="text/javascript" src="{% static 'js/shop.js' %}"></script>

{% endblock %}
</body>
</html>