<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  {% load static %}
  <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet"  type="text/css" href="{% static 'css/style.css' %}" >
<link href="{% static 'css/all.min.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'js/all.min.js' %}"></script>
</head>
<body>
<div class="head_row" style="height:150px">
  <img src="{% static 'img/logo1.png' %}" class="logo_img">
  <input type="text" class="searchbar input-lg" size="50" autocomplete="off">
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'index' %}">Home</a></li>
      <li><a href="../shop/">국내 도서</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
      <li><a href="../join/">회원가입</a></li>
    </ul>
  </div>
</nav>
  {% block page %}
<div class="main_row">
  <ul class="side_menu">
    <li no="1"><em>가정 살림</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>임신/출산</em></li>
            <li><em>육아</em></li>
            <li><em>요리</em></li>
            <li><em>집/살림</em></li>
            <li><em>결혼/가족</em></li>
          </ul>
        </div>
    </li>
    <li no="2"><em>건강 취미</em>
        <div class="side_detail_menu">
          <ul>
            <li><em>건강에세이/건강기타</em></li>
            <li><em>질병과 치료법</em></li>
            <li><em>요가/체조/기타</em></li>
            <li><em>한의학/한방치료</em></li>
            <li><em>의학/약학</em></li>
            <li><em>여행</em></li>
            <li><em>취미기타</em></li>
            <li><em>패션/수공예</em></li>
            <li><em>다이어트/미용</em></li>
            <li><em>스포츠/오락기타</em></li>
            <li><em>등산/낚시/바둑</em></li>
            <li><em>반려동물</em></li>
            <li><em>컬러링북</em></li>
            <li><em>퍼즐/스도쿠/기타</em></li>
          </ul>
        </div>
    </li>
    <li no="3"><em>국어 외국어 사전</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>영어</em></li>
            <li><em>국어</em></li>
            <li><em>일본어</em></li>
            <li><em>중국어</em></li>
            <li><em>독일어</em></li>
            <li><em>러시아어</em></li>
            <li><em>스페인어</em></li>
            <li><em>이탈리아어</em></li>
            <li><em>프랑스어</em></li>
            <li><em>여행회화/어학연수</em></li>
            <li><em>기타 언어</em></li>
            <li><em>사전류</em></li>
            <li><em>한자/옥편</em></li>
          </ul>
        </div>
    </li>
    <li no="4"><em>만화/라이트노벨</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>건강에세이/건강기타</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
          </ul>
        </div>
    </li>
    <li no="5"><em>수험서 자격증</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>건강에세이/건강기타</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
          </ul>
        </div>
    </li>
    <li no="6"><em>예술</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>건강에세이/건강기타</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
          </ul>
        </div>
    </li>
    <li no="7"><em>잡지</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>건강에세이/건강기타</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
          </ul>
        </div>
    </li>
    <li no="8"><em>자기계발</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>건강에세이/건강기타</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
          </ul>
        </div>
    </li>
    <li no="9"><em>자연과학</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>건강에세이/건강기타</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
          </ul>
        </div>
    </li>
    <li no="10"><em>전집</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>건강에세이/건강기타</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
          </ul>
        </div>
    </li>
    <li no="11"><em>종교</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>건강에세이/건강기타</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
          </ul>
        </div>
    </li>
    <li no="12"><em>인문</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>건강에세이/건강기타</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
          </ul>
        </div>
    </li>
    <li no="13"><em>경제 경영</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>경제</em></li>
            <li><em>경영</em></li>
            <li><em>투자/재테크</em></li>
            <li><em>마케팅/세일즈</em></li>
            <li><em>CEO/비즈니스맨</em></li>
            <li><em>인터넷비즈니스</em></li>
            <li><em>총람/연감</em></li>
            <li><em>정부간행물</em></li>
          </ul>
        </div>
    </li>
    <li no="14"><em>인물</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>건강에세이/건강기타</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
          </ul>
        </div>
    </li>
    <li no="15"><em>가정 살림</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>건강에세이/건강기타</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
          </ul>
        </div>
    </li>
    <li no="16"><em>대학교재</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>경상계열</em></li>
            <li><em>공학계열</em></li>
            <li><em>농축산학 계열</em></li>
            <li><em>법학계열</em></li>
            <li><em>사범대 계열</em></li>
            <li><em>사회과학 계열</em></li>
            <li><em>어문학 계열</em></li>
            <li><em>예체능/문화/기타 계열</em></li>
            <li><em>의약학/간호 계열</em></li>
            <li><em>인문학 계열</em></li>
            <li><em>자연과학 계열</em></li>
            <li><em>방송통신대학교</em></li>

          </ul>
        </div>
    </li>
    <li no="17"><em>초등참고서</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>건강에세이/건강기타</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
          </ul>
        </div>
    </li>
    <li no="18"><em>중등참고서</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>건강에세이/건강기타</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
          </ul>
        </div>
    </li>
    <li no="19"><em>어린이</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>건강에세이/건강기타</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
          </ul>
        </div>
    </li>
    <li no="20"><em>IT 모바일</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>건강에세이/건강기타</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
          </ul>
        </div>
    </li>
    <li no="21"><em>사회 정치</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>건강에세이/건강기타</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
          </ul>
        </div>
    </li>
    <li no="22"><em>여행</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>건강에세이/건강기타</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
          </ul>
        </div>
    </li>
    <li no="23"><em>유아</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>건강에세이/건강기타</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
          </ul>
        </div>
    </li>
    <li no="24"><em>청소년</em>
      <div class="side_detail_menu">
          <ul>
            <li><em>건강에세이/건강기타</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
            <li><em>테스트</em></li>
          </ul>
        </div>
    </li>
  </ul>
{% block content %}
  {% endblock %}
  </div>
<div class="chat_row">
  <div class="phone">
    <div class="user_chat">
      <ul>
        <li>테스트</li>
      </ul>
     </div>
        <div class="user_chat">
      <ul>
        <li>안녕하세요. 장문입니다안녕하세요. 장문입니다안녕하세요. 장문입니다</li>
      </ul>
     </div>
    <input type="text" class="phone_input">
  </div>
  <span style="float:right;">
    <button class="chat_btn"><i class="far fa-comment-dots fa-2x" style="color:white"></i></button>
  </span>
</div>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}
</body>
</html>