<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'shop/mypage.html' %}
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    {% block mypage %}
    <div class="row">
        <table class="table basketTable">
            <tr class="basket_th">
                <th>    </th>
                <th colspan="2" >상품정보</th>
                <th>수량</th>
                <th>금액</th>
                <th>주문</th>
            </tr>

            {% if list %}
                {% for dd in list %}
            <tr class="basket_tr" no="{{dd.no}}" tb="{{dd.tb}}">
                 <td ><input type="checkbox" class="check_basket"></td>
                <td >
                    <img src="{{dd.poster}}" class="basket_poster">
                </td>
                <td ><em><p class="basket_title">{{dd.title}}</p></em></td>
                <td >
                    <input type="number" value="1" size="5" class="price_input">
                </td>
                <td class="price" price="{{dd.realPrice}}">{{dd.price}}원</td>
                <td>
                    <button class="del_basket_Btn totalBtn" no="{{dd.no}}">삭제</button>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="5">장바구니에 담긴 상품이 없습니다</td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="5">총 예상금액: <strong id="total"></strong>원</td>
                <td>
                    <button class="orderBtn totalBtn">결제</button>
                </td>
            </tr>
        </table>
    </div>


    {% endblock %}
</body>
</html>