<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'shop/mypage.html' %}
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    {% block mypage %}
    <div class="row">
        <h3>주문 내역</h3>
        <table class="table orderListTable">
            <tr>
                <th>    </th>
                <th colspan="2" >상품정보</th>
                <th>수량</th>
                <th>총금액</th>
                <th>주문일</th>
            </tr>
                {% for dd in list %}
            <tr class="orderList_tr">
                 <td></td>
                <td >
                    <img src="{{dd.poster}}">
                </td>
                <td ><em><p>{{dd.title}}</p></em>

                </td>
                <td>
                    {{dd.ordercount}}
                </td>
                <td class="price" price="{{dd.realPrice}}">{{dd.total}}원(개당/{{dd.price}})</td>
                <td>
                        {{dd.ordertime}}
                </td>
            </tr>
                {% endfor %}

        </table>
    </div>


    {% endblock %}
</body>
</html>