<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  {% extends 'main/main.html' %}
  {% block content %}
  <div class="row">
      <h1>쇼핑몰 리스트</h1>
      {% for list in bookList %}
      <table class="list_card">
          <tr>
              <td rowspan="4" width="30%" class="text-center">
                  <img src="{{list.poster}}" class="poster">
              </td>
              <td width="70%" class="text_td title" colspan="2">{{list.title}}</td>
          </tr>
          <tr>
              {% if list.subtitle == none %}
              <td width="70%"  class="text_td" colspan="2"></td>
              {% else %}
              <td width="70%"  class="text_td" colspan="2">{{list.subtitle}}</td>
              {% endif %}
          </tr>
          <tr>
              <td width="70%" class="text_td" colspan="2">{{list.author}}
             | {{list.company}} </td>
          </tr>
          <tr>
              <td width="40%"  class="text_td"><b class="price">{{list.price}}원</b></td>
              <td class="list_Btn" width="30%">
                  <button class="basket totalBtn" user_id="{{session_id}}" tb="{{list.tb}}">장바구니</button>
              </td>
          </tr>

      </table>
      {% endfor %}
      <ul class="pagination">
          {% if startpage > 1 %}
            <li><a href="?tb={{tablename}}&page={{startpage|add:-10}}">&lt;</a></li>
          {% endif %}
          {% for i in range %}
              <li><a href="?tb={{tablename}}&page={{i}}">{{i}}</a></li>
          {% endfor %}
          {% if endpage <= totalpage %}
            <li><a href="?tb={{tablename}}&page={{endpage|add:+1}}">&gt;</a></li>
          {% endif %}
    </ul>
  </div>

  {% endblock %}
</body>
</html>