body{
    font-family:나눔고딕 400
}
.row{
    width: 1200px;
    float: left;
    margin: 0px auto;
}
.join_row{
    width: 30em;
    margin: 0px 0px 0px 49em;
    float: left;
    height: 40em;
    display: block;
}
.head_row{
    width: 1200px;
    margin: 0px auto;
}
.main_row{

}
.login_row{
    margin: 16em 40em;
    width: 800px;
}
/*메뉴상단*/
.searchbar{
    margin: 3em 16em 0px 0px;
    border-color: #97d3e2;
}
.logo_img{
    margin-left: 15em;
    margin-right:1em;
}
/* 메뉴*/
.navbar-inverse{ /*메뉴색*/
    background-color: #6fc3d7b8;
    border-color: #fff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover{
    color: #fff;
    background-color: #fdbdbd;
}
.navbar-nav {
    float: left;
    margin: 0px 50em;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fffbfb;
}
/*메인 박스*/
.main_box{
    width:1000px;
    height: 500px;
}
.main_box > ul {
}

.main_box > ul > li{
    list-style: none;
    display: block;
    float: left;
    background-color: #f8f8f8;
    color: #666;
    width: 16em;
    height: 3em;
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid;
    margin-left: 1px;
    border-color: #c8c8c8;
}
.main_box > ul > li:hover{
    background-color: #97d3e2;
    color: white;

}
.main_img{
    width:1000px;
    height:350px;
}
/*사이드 메뉴*/
.side_menu{
    width: 26em;
    float: left;
    list-style:none;
    margin-left: 6em;
}
.side_menu > li > em{
    display: block;
    width: 11em;
    margin: 4px 0px;
}
.side_menu > li > em:hover{
    background: #97d3e2;
    color: white;
}
.side_detail_menu{
    display: none;
    position: absolute;
    left: 18em;
    border: 3px double #97d3e2;
    color: black;
    width: 14em;
    top: 16em;
    z-index: 19;
    background-color: white;
    border-radius: 8px;
}
.side_detail_menu ul{
    list-style:none;
}
.side_detail_menu > ul > li:hover{
    color: #fdbdbd;
    cursor: pointer;
}
/* 채팅*/
.chat_row{
    width: 100%;
    float: right;
    height: 10em;

}
.chat_btn{
    float: right;
    position: fixed;
    bottom: 2em;
    right: 4em;
    width: 3em;
    height: 3em;
    border-radius: 20px;
    background-color: #fdbdbd;
}
.chat_clear{
    float: right;
    position: fixed;
    bottom: 2em;
    right: 8em;
    width: 3em;
    height: 3em;
    border-radius: 20px;
    background-color: #fdbdbd;
}
.phone{
    display:none;
    width: 25em;
    height: 36em;
    border: 11px double #97d3e2;
    display: block;
    float: right;
    position: fixed;
    right: 3em;
    bottom: 6em;
    z-index: 20;
    background-color: #fff;
    border-radius: 23px;
    overflow-y: auto;
    overflow-x: hidden;
}
.phone_input{
    display: block;
    position: fixed;
    bottom: 96px;
    width: 23.4em;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 12px;
    padding-left: 5px;
    height: 33px;
    overflow-y: auto;
    overflow-x: hidden;
    border-color: #97d3e2;
}
.user_chat{
    display: block;
    float: right;
    background-color: #fdbdbd4f;
    border: #fdbdbd 1px solid;
    margin-right: 8px;
    margin-top: 8px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 21px;
    border-top-right-radius: 23px;
    clear: both;
}
.bot_chat{
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 8px;
    clear: both;
    border: 1px solid #d0d1d8;
    border-radius: 18px;
}
.bot_button{
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 8px;
    clear: both;
}
.bot_button ul{
    list-style:none;
}
.bot_button button{
    background-color: #dedede12;
    border: 0.4px solid #0000005e;
    width: 10em;
    border-radius: 29px;
}
.bot_chat > ul > li{
    margin-right: 2em;
    list-style: none;
    margin-top: 12px;
    font-size: 13pt;
}
.user_chat > ul > li{
     text-align: right;
    margin-right: 2em;
    list-style: none;
    margin-top: 12px;
    font-size: 13pt;
}
.qBtn:hover{
    background-color: #97d4e24f;
}
/* 리스트*/
.list_card{
       width: 52em;
    margin-top: 1em;
    border-bottom: 1px solid gray;
    font-size: 12pt
}
.list_card img{
    height: 16em;
    border-right: ridge;
    width: 11em;
    margin: 18px 0px;
}
.list_page_block{
    list-style: none;

}
.list_page_block > li{


}
.list_Btn button{

}
.pagination{
    margin-left: 19em;
}
/*장바구니*/
.basketTable{
    margin-top: 8em;
    width:730px;
}
.basketTable th,td{
    text-align:center;
}

.basketTable img{
    width:80px;
    height:115px;
}
.price_input{
    width: 4em;
    text-align: center;
}
/*회원가입*/
.joinTable{

}
.joinTable th{

}
.joinTable td{

}
.joinTable input{
    float: left;
    width: 20em;
    height: 3em;
    border-radius: 10px;
        margin-top: 5px;
}
#postFind{
    border: 1px solid black;
    width: 27em;
    height: 30em;
    display: block;
    float: left;
    position: relative;
    top: 11em;
    overflow-y: auto;
    overflow-x: hidden;
}
.post_tr{
       cursor:pointer;
}
/*로그인*/
.loginTable{
       border-color:white;
}
.loginTable input{
    width: 20em;
    height: 3em;
    border-radius: 10px;
}
.loginText{
        font-weight: bold;
    font-size: 15pt;
}
