<!DOCTYPE html>
<html lang="en">
<head>

  {% extends '../main/main.html' %}
  {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  {% block page %}
  <div class="join_row">
      <form method="post" action="{% url 'sign' %}">
          {% csrf_token %}
      <table class="joinTable ">
      <tr>
          <th>ID</th>
      </tr>
      <tr>
          <td>
              <input type="text" name="id" id="id_input">
              <button type="button" id="idBtn" class="idBtn" value="0">중복체크</button>
          </td>
      </tr>
      <tr>
          <th>비밀번호</th>
      </tr>
      <tr>
          <td>
              <input type="password" name="pwd1">
          </td>
      </tr>
      <tr>
          <th>비밀번호 확인</th>
      </tr>
      <tr>
          <td>
              <input type="password" name="pwd2">
          </td>
      </tr>
      <tr>
          <th>이름</th>
      </tr>
      <tr>
          <td>
              <input type="text" name="name">
          </td>
      </tr>
      <tr>
          <th>생년월일</th>
      </tr>
      <tr>
          <td>
              <input type="date" name="birth">
          </td>
      </tr>
      <tr>
          <th>우편번호</th>
      </tr>
      <tr>
          <td>
              <input type="text" readonly class="zipcode_input" name="code">
              <button id="findBtn" type="button">우편번호 찾기</button>
          </td>
      </tr>
       <tr>
           <th>주소</th>
       </tr>
       <tr>
           <td>
             <input type="text" readonly name="addr1" class="addr_input">
           </td>
       </tr>
       <tr>
           <td>
             <input type="text"  name="addr2">
           </td>
       </tr>
          <tr>
              <th>전화번호</th>
          </tr>
          <tr>
              <td>
                  <input type="text" name="tel">
              </td>
          </tr>
          <tr>
              <td>
                  <button class="signBtn">회원가입</button>
                  <button>홈으로</button>
              </td>
          </tr>
      </table>
           </form>
  </div>
  <div id="postFind">
      <table class="table-hover" id="postTable">
          <tr>
              <td>
                  <input type="text" id="pSearchInput">
              </td>
              <td>
                  <button type="button" id="pSearchBtn">검색</button>
              </td>
          </tr>
          <tr>
              <th>우편번호</th>
              <th>주소</th>
          </tr>
      </table>

  </div>
  {% endblock %}
</body>
</html>